# If you want Outcoin to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Version=1.0
Type=Application
Name=Outcoin
GenericName=Bitcoin Wallet
Comment=Lightweight Outcoin client
TryExec=outcoin
Exec=outcoin %u
Icon=outcoin
Terminal=false
Categories=Network;Finance;
MimeType=x-scheme-handler/outcoin;
StartupNotify=true
StartupWMClass=outcoin

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
